name: release

on:
  push:
    tags:
      - v*

jobs:
  release:
    runs-on: ubuntu-24.04
    permissions:
      # pypi trusted publishing
      id-token: write
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      - run: pipx run build

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          attestations: false
